@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
main {
  overflow: hidden; }

.fondoHome {
  width: 100vw;
  height: 108.99550224887557vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; }
  .fondoHome .imagenFondo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; }
    .fondoHome .imagenFondo img {
      width: 90%; }
  .fondoHome .imagenFondoMobile {
    display: none; }

.comoFuncionaMobile {
  display: none; }

.comoFunciona {
  width: 100vw;
  height: 108.99550224887557vh;
  background-color: #f7effe;
  display: flex;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d; }
  .comoFunciona .comoFuncionaInfo {
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 17.09145427286357vh; }
    .comoFunciona .comoFuncionaInfo .comoFuncionaBoxContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      flex-wrap: nowrap; }
    .comoFunciona .comoFuncionaInfo p {
      font-size: 40px; }
  .comoFunciona .comoFuncionaBox {
    height: 60.869565217391305vh;
    width: 29.355783308931187vw;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid #cb97fb;
    box-shadow: 4px 6px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .comoFunciona .comoFuncionaBox p {
      font-family: "Jost";
      font-weight: 400;
      font-size: 22px;
      line-height: 126%;
      font-style: normal;
      text-align: center;
      color: #1d1d1d; }
    .comoFunciona .comoFuncionaBox p,
    .comoFunciona .comoFuncionaBox img {
      padding: 30px; }
    .comoFunciona .comoFuncionaBox img {
      margin-top: 50px; }

.modaCircular {
  width: 100vw;
  height: 138.69565217391305vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OldSport", sans-serif; }

.modaCircularContainer {
  display: flex;
  width: 95%;
  height: 75%; }
  .modaCircularContainer .modaCircularInfo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .modaCircularContainer .modaCircularInfo .modaCircularTexto {
      height: 50%; }
      .modaCircularContainer .modaCircularInfo .modaCircularTexto h3 {
        font-size: 40px;
        color: #1d1d1d; }
      .modaCircularContainer .modaCircularInfo .modaCircularTexto p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 126%;
        color: #1d1d1d;
        margin-top: 52px; }
    .modaCircularContainer .modaCircularInfo .modaCircularIconos {
      height: 50%;
      margin-top: dpx; }
      .modaCircularContainer .modaCircularInfo .modaCircularIconos .modaCircularIconosIconos {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
        padding-left: 10px; }
        .modaCircularContainer .modaCircularInfo .modaCircularIconos .modaCircularIconosIconos img {
          margin-right: 120px; }
      .modaCircularContainer .modaCircularInfo .modaCircularIconos h4 {
        font-family: "Jost";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 36px; }
  .modaCircularContainer .modaCircularImagen {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px; }

.PrendasUnicas {
  width: 100%;
  height: 108.69565217391305vh;
  background-color: #f7effe;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }
  .PrendasUnicas .PrendasUnicasContainer {
    width: 95%;
    height: 75%;
    display: flex; }
    .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo div {
        width: 80%; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo h2 {
        font-weight: 400;
        line-height: 40px;
        font-size: 40px; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo p {
        font-family: "Jost";
        font-weight: 400;
        font-size: 20px;
        line-height: 126%;
        font-style: normal;
        margin-top: 120px; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo button {
        width: 595px;
        background: #cb97fb;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 25px;
        height: 56px;
        margin-top: 120px; }
    .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasImagen {
      width: 50%;
      height: 100%; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasImagen img {
        margin-top: -200px; }

@media (max-width: 765px) {
  .fondoHome {
    height: 52.96vh; }
    .fondoHome .imagenFondo {
      display: none; }
    .fondoHome .imagenFondoMobile {
      display: flex;
      align-items: center;
      justify-content: center; }
      .fondoHome .imagenFondoMobile img {
        width: 90%; }
  .comoFunciona {
    display: none; }
  .comoFuncionaTituloMobile p {
    height: 20px;
    font-family: "OldSport";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #1d1d1d;
    margin-top: 41px;
    padding-left: 40px; }
  .comoFuncionatextoMobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .comoFuncionaMobile {
    display: block;
    height: 66.56671664167916vh; }
    .comoFuncionaMobile .boxMobile {
      display: flex;
      width: 90%;
      justify-content: center;
      align-items: center; }
      .comoFuncionaMobile .boxMobile .boxMobileImg {
        width: 30%;
        width: 82px;
        height: 83px;
        background: #ffffff;
        border: 3px solid #cb97fb;
        box-shadow: 3px 3px 7px rgba(148, 148, 148, 0.25);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .comoFuncionaMobile .boxMobile .boxMobileImg img {
          width: 33px; }
      .comoFuncionaMobile .boxMobile .boxMobileTexto {
        width: 70%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 126%;
        display: flex;
        align-items: center;
        color: #1d1d1d;
        font-family: "Jost";
        padding-left: 20px; }
  .modaCircular .modaCircularContainer .modaCircularInfo .modaCircularTexto h3 {
    font-size: 30px; }
  .modaCircular .modaCircularContainer .modaCircularInfo .modaCircularTexto p {
    font-size: 18px; } }

.footer p {
  background-color: #1d1d1d;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff; }

.footer .links {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #1d1d1d;
  justify-content: space-between; }
  .footer .links .nav {
    width: 30%;
    height: 100%; }
    .footer .links .nav ul {
      margin-top: 87px; }
      .footer .links .nav ul li {
        list-style: none;
        margin-bottom: 14px; }
        .footer .links .nav ul li a {
          text-decoration: none;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-left: 100px; }
  .footer .links .politicas {
    width: 30%;
    height: 100%; }
    .footer .links .politicas ul {
      margin-top: 87px; }
      .footer .links .politicas ul li {
        list-style: none;
        margin-bottom: 14px; }
        .footer .links .politicas ul li a {
          text-decoration: none;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #ffffff; }
  .footer .links .redes {
    width: 30%;
    height: 100%;
    text-decoration: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 80px; }
    .footer .links .redes img {
      padding-top: 20px; }
  .footer .links .derechos p {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff; }

.navBar {
  display: flex;
  width: 100%;
  height: 98px;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d; }
  .navBar .logoNavBar {
    padding-left: 20px; }
  .navBar .Login {
    padding-right: 20px; }
  .navBar ul {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .navBar ul li {
      display: flex;
      align-items: center;
      height: 100%; }
      .navBar ul li :hover {
        border-top: 3px solid #cb97fb; }
      .navBar ul li a {
        height: 100%;
        display: flex;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        align-items: center;
        justify-content: center; }
        .navBar ul li a:hover {
          color: #cb97fb;
          font-weight: 700; }
  .navBar button {
    background: #cb97fb;
    border-radius: 25px;
    width: 156px;
    height: 45px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center; }

.logoWhatsapp {
  width: 28px;
  padding-right: 5px; }

.navBarMobile,
.menuFlotante,
.buttonMobile {
  display: none;
  z-index: 1; }

@media (max-width: 765px) {
  .buttonMobile {
    display: block;
    height: 43px;
    width: 100%;
    background: #cb97fb;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jost";
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1d1d;
    font-style: normal; }
  .navBar {
    display: none; }
  .navBarMobile {
    width: 100%;
    background-color: #1d1d1d;
    height: 84px;
    font-size: 32px;
    color: #cb97fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px; }
  .menuFlotante {
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    margin-top: 84px;
    top: -184vh;
    transition: all 0.5s; }
    .menuFlotante.mostrar {
      top: 0;
      background-color: #1d1d1d; }
    .menuFlotante li {
      padding-top: 20vw; }
    .menuFlotante a {
      text-decoration: none; } }

.mainCompraVenta {
  width: 100%; }
  .mainCompraVenta .compraVenta {
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 17.09145427286357vh; }
    .mainCompraVenta .compraVenta .compraVentaBoxContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px; }
    .mainCompraVenta .compraVenta p {
      font-size: 40px; }
  .mainCompraVenta .compraVentaBox {
    height: 25.375em;
    width: 25.063em;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid #cb97fb;
    box-shadow: 4px 6px 4px 0px #00000040; }
    .mainCompraVenta .compraVentaBox .cardsCompraVenta {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 6.693989071038251vh; }
      .mainCompraVenta .compraVentaBox .cardsCompraVenta .detalleCard {
        padding-top: 3.121584699453552vh;
        padding-left: 3.215434083601286vw;
        padding-right: 3.215434083601286vw;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 126%;
        text-align: center;
        color: #1D1D1D; }
  .mainCompraVenta .descripcion {
    width: 100%;
    height: 47.131147540983605vh;
    display: flex;
    align-items: center; }
    .mainCompraVenta .descripcion .detalle {
      display: flex;
      align-items: flex-start;
      width: 33.3333333333333%;
      height: 100%;
      padding-top: 10.92896174863388vh;
      padding-left: 4.823151125401929vw; }
      .mainCompraVenta .descripcion .detalle .tituloDetalle {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #1D1D1D; }
      .mainCompraVenta .descripcion .detalle .textoDetalle {
        width: 257px;
        height: 100px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 122%;
        color: #000000; }
      .mainCompraVenta .descripcion .detalle img {
        width: 41px;
        margin-right: 1.607717041800643vw; }

.mainColecciones .mainColeccionesDesktop {
  width: 100%; }
  .mainColecciones .mainColeccionesDesktop .prendasTop {
    width: 95%;
    height: 412px;
    padding: 45px;
    margin-left: 2.6vw;
    margin-top: 50px;
    background-image: url(../imagenes/imgColecciones/Foto1.png); }
    .mainColecciones .mainColeccionesDesktop .prendasTop p {
      font-family: 'Jost', sans-serif;
      font-style: normal;
      font-weight: 700px;
      font-size: 25px;
      line-height: 36px;
      text-align: right;
      color: #FFFFFF;
      margin-top: 310px; }
  .mainColecciones .mainColeccionesDesktop .colecciones {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh; }
    .mainColecciones .mainColeccionesDesktop .colecciones p {
      font-family: 'Jost', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 36px;
      text-align: right;
      color: #FFFFFF;
      margin-top: 366px;
      margin-right: 17px; }
    .mainColecciones .mainColeccionesDesktop .colecciones .coleccion1 {
      width: 30vw;
      height: 412px;
      margin-left: 2.6vw;
      top: 550px;
      background-image: url(../imagenes/imgColecciones/Foto2.png); }
    .mainColecciones .mainColeccionesDesktop .colecciones .coleccion2 {
      width: 30vw;
      height: 412px;
      margin-left: 1.9vw;
      top: 550px;
      background-image: url(../imagenes/imgColecciones/Foto3.png); }
    .mainColecciones .mainColeccionesDesktop .colecciones .coleccion3 {
      width: 30vw;
      height: 412px;
      margin-left: 1.9vw;
      top: 550px;
      background-image: url(../imagenes/imgColecciones/Foto4.png); }

.mainColecciones .mainMobile {
  display: none; }

@media (max-width: 765px) {
  .mainColecciones .mainColeccionesDesktop {
    display: none; }
  .mainColecciones .mainMobile {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .mainColecciones .mainMobile .prendasTop-mobile {
      position: relative; }
      .mainColecciones .mainMobile .prendasTop-mobile img {
        width: 100%;
        margin-top: 30px; }
      .mainColecciones .mainMobile .prendasTop-mobile p {
        position: absolute;
        width: 350px;
        height: 19px;
        right: 40px;
        top: 380px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: right;
        color: #FFFFFF; }
    .mainColecciones .mainMobile .colecciones-mobile .coleccion1-mobile, .mainColecciones .mainMobile .colecciones-mobile .coleccion2-mobile, .mainColecciones .mainMobile .colecciones-mobile .coleccion3-mobile {
      position: relative; }
      .mainColecciones .mainMobile .colecciones-mobile .coleccion1-mobile img, .mainColecciones .mainMobile .colecciones-mobile .coleccion2-mobile img, .mainColecciones .mainMobile .colecciones-mobile .coleccion3-mobile img {
        width: 100%;
        margin-top: 10px; }
      .mainColecciones .mainMobile .colecciones-mobile .coleccion1-mobile p, .mainColecciones .mainMobile .colecciones-mobile .coleccion2-mobile p, .mainColecciones .mainMobile .colecciones-mobile .coleccion3-mobile p {
        position: absolute;
        width: 350px;
        height: 19px;
        right: 40px;
        top: 360px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: right;
        color: #FFFFFF; } }

@font-face {
  font-family: "OldSport";
  src: url(/fuentes/OldSport.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  width: 100%;
  font-family: "roboto", sans-serif; }
