@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
main {
  overflow: hidden; }

.fondoHome {
  width: 100vw;
  height: 108.99550224887557vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; }
  .fondoHome .imagenFondo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; }
    .fondoHome .imagenFondo img {
      width: 100%; }
  .fondoHome .imagenFondoMobile {
    display: none; }

.comoFuncionaMobile {
  display: none; }

.comoFunciona {
  width: 100vw;
  height: 108.99550224887557vh;
  background-color: #f7effe;
  display: flex;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d; }
  .comoFunciona .comoFuncionaInfo {
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 17.09145427286357vh; }
    .comoFunciona .comoFuncionaInfo .comoFuncionaTitulo {
      width: 52.27vw;
      background-color: #fcfd9a; }
    .comoFunciona .comoFuncionaInfo .comoFuncionaBoxContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      flex-wrap: nowrap; }
    .comoFunciona .comoFuncionaInfo p {
      font-size: 40px; }
  .comoFunciona .comoFuncionaBox {
    height: 60.869565217391305vh;
    width: 29.355783308931187vw;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid #cb97fb;
    box-shadow: 4px 6px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .comoFunciona .comoFuncionaBox p {
      font-family: "Jost";
      font-weight: 400;
      font-size: 22px;
      line-height: 126%;
      font-style: normal;
      text-align: center;
      color: #1d1d1d; }
    .comoFunciona .comoFuncionaBox p,
    .comoFunciona .comoFuncionaBox img {
      padding: 30px; }
    .comoFunciona .comoFuncionaBox img {
      margin-top: 50px; }

.modaCircular {
  display: block;
  width: 100vw;
  height: 158.69565217391305vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OldSport", sans-serif; }

.moodaCircularMovile {
  display: none; }

.modaCircularContainer {
  display: flex;
  width: 95%;
  height: 75%; }
  .modaCircularContainer .modaCircularInfo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .modaCircularContainer .modaCircularInfo .modaCircularTexto {
      height: 70%; }
      .modaCircularContainer .modaCircularInfo .modaCircularTexto h3 {
        font-size: 40px;
        color: #1d1d1d;
        background-color: #fcfd9a;
        width: 42.02vw; }
      .modaCircularContainer .modaCircularInfo .modaCircularTexto p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 126%;
        color: #1d1d1d;
        margin-top: 52px; }
    .modaCircularContainer .modaCircularInfo .modaCircularIconos {
      height: 30%;
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: column; }
    .modaCircularContainer .modaCircularInfo .modaCircularIconosIconos {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 47px; }
      .modaCircularContainer .modaCircularInfo .modaCircularIconosIconos .iconosBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 70px; }
        .modaCircularContainer .modaCircularInfo .modaCircularIconosIconos .iconosBox p {
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 126%;
          text-align: center;
          color: #000000;
          font-family: "Jost";
          margin-top: 22px; }
    .modaCircularContainer .modaCircularInfo h4 {
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 36px; }

.modaCircularImagen {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px; }

.prendasUnicasMobile {
  display: none; }

.PrendasUnicas {
  width: 100%;
  height: 108.69565217391305vh;
  background-color: #f7effe;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }
  .PrendasUnicas .PrendasUnicasContainer {
    width: 95%;
    height: 75%;
    display: flex; }
    .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo div {
        width: 80%; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo h2 {
        width: 54.24vw;
        font-weight: 400;
        line-height: 40px;
        font-size: 40px;
        background-color: #fcfd9a; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo p {
        font-family: "jost";
        font-weight: 400;
        font-size: 20px;
        line-height: 126%;
        font-style: normal;
        margin-top: 55px; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo button {
        width: 43.55vw;
        background: #cb97fb;
        border: none;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 25px;
        height: 56px;
        margin-top: 50px;
        font-family: "Jost";
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Jost";
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        font-style: normal;
        color: #1d1d1d; }
        .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasInfo button a {
          text-decoration: none;
          color: #000000; }
    .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasImagen {
      width: 50%;
      height: 100%; }
      .PrendasUnicas .PrendasUnicasContainer .PrendasUnicasImagen img {
        margin-top: -150px; }

@media (max-width: 991px) {
  .fondoHome {
    height: 52.96vh; }
    .fondoHome .imagenFondo {
      display: none; }
    .fondoHome .imagenFondoMobile {
      display: flex;
      align-items: center;
      justify-content: center; }
      .fondoHome .imagenFondoMobile img {
        width: 90%; }
  .comoFunciona {
    display: none; }
  .comoFuncionaTituloMobile {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .comoFuncionaTituloMobile p {
      height: 20px;
      font-family: "OldSport";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #1d1d1d;
      margin-top: 41px;
      background-color: #fcfd9a; }
  .comoFuncionatextoMobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
  .comoFuncionaMobile {
    display: block;
    height: 444px; }
    .comoFuncionaMobile .boxMobile {
      display: flex;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin-top: 25px; }
      .comoFuncionaMobile .boxMobile .boxMobileTexto {
        width: 70%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 126%;
        display: flex;
        align-items: center;
        color: #1d1d1d;
        font-family: "Jost";
        padding-left: 20px; }
  .modaCircular {
    display: none; }
  .moodaCircularMovile {
    display: flex;
    height: 789px;
    background-color: #fff;
    padding-top: 43px;
    flex-direction: column;
    align-items: center; }
    .moodaCircularMovile .circularTitulo {
      width: 278px;
      font-family: "oldsport";
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      color: #1d1d1d;
      background-color: #fcfd9a;
      margin-left: -50px; }
    .moodaCircularMovile .primerParafo {
      display: flex;
      padding-top: 23px;
      padding-bottom: 11px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: #1d1d1d;
      font-family: "Jost";
      width: 90%;
      justify-content: center;
      align-items: center; }
    .moodaCircularMovile .segundoParrafo {
      padding-bottom: 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: #1d1d1d;
      font-family: "Jost";
      width: 90%;
      justify-content: center;
      align-items: center; }
    .moodaCircularMovile .tercerParrafo {
      padding-bottom: 40px;
      font-family: "Jost";
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-style: normal;
      color: #1d1d1d; }
      .moodaCircularMovile .tercerParrafo .tercerParrafoIconos {
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: space-around; }
        .moodaCircularMovile .tercerParrafo .tercerParrafoIconos p {
          font-family: "Jost";
          font-style: normal;
          font-weight: 600;
          font-size: 9px;
          line-height: 126%;
          text-align: center;
          color: #000000; }
  .PrendasUnicas {
    display: none; }
  .prendasUnicasMobile {
    display: block;
    height: 555px;
    background-color: #f7effe; }
    .prendasUnicasMobile .recibi {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center; }
      .prendasUnicasMobile .recibi h3 {
        font-family: "oldsport";
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: #1d1d1d;
        font-style: normal;
        margin-top: 50px;
        width: 95%;
        background-color: #fcfd9a; }
      .prendasUnicasMobile .recibi p {
        width: 90%;
        margin-top: 23px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 126%;
        color: #000000;
        margin-top: 30px; }
    .prendasUnicasMobile .seccionBoton {
      position: relative; }
    .prendasUnicasMobile button {
      height: 48px;
      left: 25px;
      background: #cb97fb;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      width: 222px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-family: "Jost";
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      margin-top: 50px; }
      .prendasUnicasMobile button a {
        text-decoration: none;
        color: #000000; }
      .prendasUnicasMobile button img {
        padding-right: 10px; }
    .prendasUnicasMobile .chicamobile {
      width: 90%;
      position: absolute;
      top: -40px;
      right: 10px; } }

.footer p {
  background-color: #1d1d1d;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff; }

.footer .links {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #1d1d1d;
  justify-content: space-between; }
  .footer .links .nav {
    width: 30%;
    height: 100%; }
    .footer .links .nav ul {
      margin-top: 87px; }
      .footer .links .nav ul li {
        list-style: none;
        margin-bottom: 14px; }
        .footer .links .nav ul li a {
          text-decoration: none;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-left: 100px; }
  .footer .links .politicas {
    width: 30%;
    height: 100%; }
    .footer .links .politicas ul {
      margin-top: 87px; }
      .footer .links .politicas ul li {
        list-style: none;
        margin-bottom: 14px; }
        .footer .links .politicas ul li a {
          text-decoration: none;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #ffffff; }
  .footer .links .redes {
    width: 30%;
    height: 100%;
    text-decoration: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 80px; }
    .footer .links .redes img {
      padding-top: 20px; }
  .footer .links .derechos p {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff; }
  .footer .links .formasDePago {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    display: flex;
    align-items: center;
    font-family: "Jost";
    color: #ffffff; }

@media (max-width: 765px) {
  .footer .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .footer .links .nav {
      width: 50%;
      display: flex;
      height: 30%; }
      .footer .links .nav ul {
        margin-top: 27px;
        margin-left: -40px; }
    .footer .links .politicas {
      width: 50%;
      height: 30%; }
      .footer .links .politicas ul {
        margin-top: 27px; }
    .footer .links .formasDePago {
      width: 100%; }
      .footer .links .formasDePago p {
        margin: auto;
        border-top: 2px solid #cb97fb;
        border-bottom: 2px solid #cb97fb;
        font-size: 13px; }
    .footer .links .redes {
      display: none; } }

.navBar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 98px;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  z-index: 100; }
  .navBar .logoNavBar {
    padding-left: 20px; }
  .navBar .Login {
    padding-right: 20px; }
  .navBar ul {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .navBar ul li {
      display: flex;
      align-items: center;
      height: 100%; }
      .navBar ul li :hover {
        border-top: 3px solid #cb97fb; }
      .navBar ul li a {
        height: 100%;
        display: flex;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        align-items: center;
        justify-content: center; }
        .navBar ul li a:hover {
          color: #cb97fb;
          font-weight: 700; }
  .navBar button {
    background: #cb97fb;
    border-radius: 25px;
    width: 156px;
    height: 45px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navBar button a {
      text-decoration: none;
      color: #000; }

.logoWhatsapp {
  width: 28px;
  padding-right: 5px; }

.navBarMobile,
.menuFlotante,
.buttonMobile {
  display: none;
  z-index: 1; }

@media (max-width: 991px) {
  .buttonMobile {
    display: block;
    height: 43px;
    width: 100%;
    background: #cb97fb;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jost";
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1d1d1d;
    font-style: normal; }
    .buttonMobile a {
      text-decoration: none;
      color: #000; }
  .navBar {
    display: none; }
  .navBarMobile {
    width: 100%;
    background-color: #1d1d1d;
    height: 84px;
    font-size: 32px;
    color: #cb97fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px; }
  .menuFlotante {
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    margin-top: 84px;
    top: -184vh;
    transition: all 0.5s; }
    .menuFlotante.mostrar {
      top: 0;
      background-color: #1d1d1d; }
    .menuFlotante li {
      padding-top: 20vw; }
    .menuFlotante a {
      text-decoration: none; } }

.mainCompraVenta .mainCompraVentaDesktop {
  width: 100%; }
  .mainCompraVenta .mainCompraVentaDesktop .comoFunciona {
    padding-bottom: 80px;
    height: 100%; }
    .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVenta {
      width: 95%;
      display: flex;
      flex-direction: column;
      margin-top: 100px; }
      .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVenta .compraVentaBoxContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px; }
      .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVenta .fondoTitulo {
        width: 370px;
        margin-top: 80px;
        background: #FCFD9A;
        border-radius: 15px; }
        .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVenta .fondoTitulo h3 {
          width: 347px;
          font-family: 'OldSport';
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          margin-left: 10.19px; }
      .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVenta p {
        margin-top: 50px;
        font-size: 40px; }
      .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVenta button {
        margin-left: 30%;
        width: 500px;
        height: 56px;
        background: #cb97fb;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        border: none;
        margin-top: 40px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #1D1D1D; }
    .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVentaBox {
      height: 25.375em;
      width: 25.063em;
      border-radius: 15px;
      background-color: #fff;
      border: 3px solid #cb97fb;
      box-shadow: 4px 6px 4px 0px #00000040; }
      .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVentaBox .cardsCompraVenta {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 6.693989071038251vh; }
        .mainCompraVenta .mainCompraVentaDesktop .comoFunciona .compraVentaBox .cardsCompraVenta .detalleCard {
          padding-top: 3.121584699453552vh;
          padding-left: 3.215434083601286vw;
          padding-right: 3.215434083601286vw;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 126%;
          text-align: center;
          color: #1D1D1D; }
  .mainCompraVenta .mainCompraVentaDesktop .descripcion {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center; }
    .mainCompraVenta .mainCompraVentaDesktop .descripcion .detalle {
      padding-top: 50px;
      justify-content: center;
      display: flex;
      align-items: flex-start;
      width: 33.3333333333333%;
      height: 100%; }
      .mainCompraVenta .mainCompraVentaDesktop .descripcion .detalle .tituloDetalle {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #1D1D1D; }
      .mainCompraVenta .mainCompraVentaDesktop .descripcion .detalle .textoDetalle {
        width: 257px;
        height: 100px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 122%;
        color: #000000; }
      .mainCompraVenta .mainCompraVentaDesktop .descripcion .detalle img {
        width: 41px;
        margin-right: 1.607717041800643vw; }

.mainCompraVenta .mainCompraVentaMobile {
  display: none; }

@media (max-width: 765px) {
  .mainCompraVenta .mainCompraVentaDesktop {
    display: none; }
  .mainCompraVenta .mainCompraVentaMobile {
    margin-top: 50px;
    display: block; }
    .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile {
      margin-left: 5.03125vw;
      background: #F5F5F5; }
      .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile .titulo, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile .titulo {
        font-family: "OldSport", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px; }
      .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile p, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile p {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 115%;
        color: #1D1D1D; }
      .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile button, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        background: #cb97fb;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 25px;
        margin-top: 40px;
        height: 48px;
        width: 95%;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px; }
        .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile button .wpIcono, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile button .wpIcono {
          width: 28px; }
      .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile .contenido, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile .contenido {
        margin-top: 20px;
        display: flex;
        align-items: center;
        height: 100px; }
        .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile .contenido img, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile .contenido img {
          margin-right: 5.03125vw; }
        .mainCompraVenta .mainCompraVentaMobile .comoComprarMobile .contenido p, .mainCompraVenta .mainCompraVentaMobile .comoVenderMobile .contenido p {
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 115%;
          color: #1D1D1D;
          width: 70%; }
    .mainCompraVenta .mainCompraVentaMobile .descripcion {
      width: 100%;
      background-color: #F7EFFE; }
      .mainCompraVenta .mainCompraVentaMobile .descripcion .detalle {
        display: flex;
        align-items: flex-start;
        height: 100%;
        margin-left: 5.03125vw;
        padding-bottom: 50px;
        padding-top: 50px;
        margin-top: 0px; }
        .mainCompraVenta .mainCompraVentaMobile .descripcion .detalle .tituloDetalle {
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #1D1D1D;
          margin-bottom: 10px; }
        .mainCompraVenta .mainCompraVentaMobile .descripcion .detalle .textoDetalle {
          margin-left: 3.5625vw;
          width: 300px;
          height: 100px;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 122%;
          color: #000000; }
        .mainCompraVenta .mainCompraVentaMobile .descripcion .detalle img {
          width: 41px;
          margin-right: 1.607717041800643vw;
          margin-left: 0%;
          padding-left: 0%; } }

.mainColecciones .mainColeccionesDesktop {
  width: 100%; }
  .mainColecciones .mainColeccionesDesktop a {
    text-decoration: none; }
    .mainColecciones .mainColeccionesDesktop a .prendasTop {
      width: 95%;
      height: 500px;
      padding: 45px;
      margin-left: 2.6vw;
      margin-top: 130px;
      background-image: url(../imagenes/imgColecciones/IMAROCKSTAR/PORTADA1.png);
      background-size: cover;
      background-position-y: 15%;
      display: flex;
      align-items: flex-end;
      justify-content: right; }
      .mainColecciones .mainColeccionesDesktop a .prendasTop .contenedorTitulo {
        width: 200px;
        margin-top: 100px;
        align-items: right;
        background: #FCFD9A;
        border-radius: 15px; }
        .mainColecciones .mainColeccionesDesktop a .prendasTop .contenedorTitulo p {
          font-family: 'Jost', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 36px;
          text-align: center;
          color: black; }
  .mainColecciones .mainColeccionesDesktop .colecciones {
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh; }
    .mainColecciones .mainColeccionesDesktop .colecciones .padreContenedorTitulo {
      display: flex;
      align-items: flex-end;
      justify-content: right; }
      .mainColecciones .mainColeccionesDesktop .colecciones .padreContenedorTitulo .contenedorTitulo {
        width: 180px;
        margin-top: 350px;
        margin-right: 10px;
        align-items: right;
        background: #FCFD9A;
        border-radius: 15px; }
        .mainColecciones .mainColeccionesDesktop .colecciones .padreContenedorTitulo .contenedorTitulo p {
          font-family: 'Jost', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 36px;
          text-align: center;
          color: black; }
    .mainColecciones .mainColeccionesDesktop .colecciones .coleccion1 {
      width: 30vw;
      height: 412px;
      margin-left: 2.6vw;
      top: 550px;
      background-image: url(../imagenes/imgColecciones/VINTASHPOP/PORTADA2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .mainColecciones .mainColeccionesDesktop .colecciones .coleccion2 {
      width: 30vw;
      height: 412px;
      margin-left: 1.9vw;
      top: 550px;
      background-image: url(../imagenes/imgColecciones/ROADTRIP/PORTADA3.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .mainColecciones .mainColeccionesDesktop .colecciones .coleccion3 {
      width: 30vw;
      height: 412px;
      margin-left: 1.9vw;
      top: 550px;
      background-image: url(../imagenes/imgColecciones/SPRING2022/PORTADA4.png);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat; }

.mainColecciones .mainMobile {
  display: none; }

@media (max-width: 765px) {
  .mainColecciones .mainColeccionesDesktop {
    display: none; }
  .mainColecciones .mainMobile {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .mainColecciones .mainMobile .prendasTop-mobile {
      position: relative; }
      .mainColecciones .mainMobile .prendasTop-mobile img {
        width: 100%;
        margin-top: 30px; }
      .mainColecciones .mainMobile .prendasTop-mobile p {
        position: absolute;
        width: 150px;
        height: 19px;
        left: 220px;
        top: 250px;
        padding-bottom: 25px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        background: #FCFD9A;
        border-radius: 15px;
        color: black; }
    .mainColecciones .mainMobile .colecciones-mobile .coleccion1-mobile,
    .mainColecciones .mainMobile .colecciones-mobile .coleccion2-mobile,
    .mainColecciones .mainMobile .colecciones-mobile .coleccion3-mobile {
      position: relative; }
      .mainColecciones .mainMobile .colecciones-mobile .coleccion1-mobile img,
      .mainColecciones .mainMobile .colecciones-mobile .coleccion2-mobile img,
      .mainColecciones .mainMobile .colecciones-mobile .coleccion3-mobile img {
        width: 100%;
        height: 412px;
        margin-top: 10px; }
      .mainColecciones .mainMobile .colecciones-mobile .coleccion1-mobile p,
      .mainColecciones .mainMobile .colecciones-mobile .coleccion2-mobile p,
      .mainColecciones .mainMobile .colecciones-mobile .coleccion3-mobile p {
        position: absolute;
        width: 150px;
        height: 19px;
        left: 220px;
        top: 380px;
        padding-bottom: 25px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        background: #FCFD9A;
        border-radius: 15px;
        color: black; } }

.mainDetalle2 .galeriaMobile {
  display: none; }

.mainDetalle2 #fondoRockstar {
  width: 320px; }

.mainDetalle2 .fondoTitulo {
  width: 280px;
  margin-top: 120px;
  background: #FCFD9A;
  border-radius: 15px;
  margin-left: 5rem; }
  .mainDetalle2 .fondoTitulo h3 {
    width: 347px;
    font-family: 'OldSport';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-left: 10.19px; }

.mainDetalle2 .divCarousel {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 20px; }
  .mainDetalle2 .divCarousel .slide {
    width: 60%; }
    .mainDetalle2 .divCarousel .slide img {
      max-height: 31.25rem; }
    .mainDetalle2 .divCarousel .slide button {
      color: #1D1D1D !important; }

@media (max-width: 765px) {
  .mainDetalle2 {
    display: block;
    align-items: center;
    justify-content: center; }
    .mainDetalle2 .fondoTitulo {
      align-items: center;
      margin-top: 20px;
      margin-left: 50px; }
    .mainDetalle2 .divCarousel {
      display: none; }
    .mainDetalle2 .galeriaMobile {
      display: block; }
      .mainDetalle2 .galeriaMobile .foto {
        margin-bottom: 20px; } }

@font-face {
  font-family: "OldSport";
  src: url(../fuentes/OldSport.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  width: 100%;
  font-family: "roboto", sans-serif; }
