.footer {
  p {
    background-color: #1d1d1d;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
  .links {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #1d1d1d;
    justify-content: space-between;

    .nav {
      // background-color: rgb(221, 138, 138);
      width: 30%;
      height: 100%;
      ul {
        margin-top: 87px;
        li {
          list-style: none;
          margin-bottom: 14px;
          a {
            text-decoration: none;
            font-family: "Jost";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #ffffff;
            margin-left: 100px;
          }
        }
      }
    }
    .politicas {
      // background-color: rgb(228, 128, 128);
      width: 30%;
      height: 100%;
      ul {
        margin-top: 87px;
        li {
          list-style: none;
          margin-bottom: 14px;
          a {
            text-decoration: none;
            font-family: "Jost";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #ffffff;
            // margin-left: 181px;
          }
        }
      }
    }
    .redes {
      // background-color: rgb(211, 116, 116);
      width: 30%;
      height: 100%;
      text-decoration: none;
      font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      img {
        padding-top: 20px;
      }
    }
    .derechos {
      p {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #ffffff;
      }
    }
  }
}
