main {
  overflow: hidden;
}
.fondoHome {
  width: 100vw;
  height: 108.99550224887557vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .imagenFondo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    img {
      width: 90%;
    }
  }
}
.comoFunciona {
  width: 100vw;
  height: 108.99550224887557vh;
  background-color: #f7effe;
  display: flex;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;

  .comoFuncionaInfo {
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 17.09145427286357vh;
    .comoFuncionaBoxContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
    }
    p {
      font-size: 40px;
    }
  }
  .comoFuncionaBox {
    height: 60.869565217391305vh;
    width: 29.355783308931187vw;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid #cb97fb;
    box-shadow: 4px 6px 4px 0px #00000040;
  }
}

.modaCircular {
  width: 100vw;
  height: 108.69565217391305vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OldSport", sans-serif;
}
.modaCircularContainer {
  display: flex;
  width: 95%;
  height: 75%;
  .modaCircularInfo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .modaCircularTexto {
      height: 50%;
      h3 {
        font-size: 40px;
        color: #1d1d1d;
      }
      p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 126%;
        color: #1d1d1d;
        margin-top: 52px;
      }
    }
    .modaCircularIconos {
      height: 50%;
      margin-top: 100px;
      .modaCircularIconosIconos {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        img {
          margin-right: 120px;
        }
      }
      h4 {
        font-family: "Jost";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 36px;
      }
    }
  }
  .modaCircularImagen {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.PrendasUnicas {
  width: 100%;
  height: 108.69565217391305vh;
  background-color: #f7effe;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  .PrendasUnicasContainer {
    width: 95%;
    height: 75%;
    display: flex;

    .PrendasUnicasInfo {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      div {
        width: 80%;
      }

      h2 {
        font-weight: 400;
        line-height: 40px;
        font-size: 40px;
      }
      p {
        font-family: "Jost";
        font-weight: 400;
        font-size: 20px;
        line-height: 126%;
        font-style: normal;
        margin-top: 120px;
      }
      button {
        width: 595px;
        background: #cb97fb;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 25px;
        height: 56px;
        margin-top: 120px;
      }
    }
    .PrendasUnicasImagen {
      width: 50%;
      height: 100%;

      img {
        margin-top: -200px;
      }
    }
  }
}
