.mainCompraVenta {
  width: 100%;
  .comprar {
    width: 100%;
    height: 500px;
    background-color: gray;
    display: flex;
  }

 .vender{
    width: 100%;
    height: 500px;
    background-color: gray;
    display: flex;
  }
 }