.mainDetalle2{
    // height: 800px;
    .galeriaMobile{
        display: none;
    }
    #fondoRockstar{
        width: 320px;

    }
    .fondoTitulo{
        width: 280px;
        margin-top: 120px;
        background: #FCFD9A;
        border-radius: 15px;
        margin-left: 5rem;

        h3{            
          width: 347px;
          font-family: 'OldSport';
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          margin-left: 10.19px;  
        }

      }


    .divCarousel{
        display: flex;
        justify-content: center;
        height: 100%;
        margin-bottom: 20px;
        .slide{
            width: 60%;

            img{
                max-height: 31.25rem;
            }            
            button{
                color: #1D1D1D !important;
            }
        }
    }
}

@media (max-width: 765px) {
    .mainDetalle2{
        display: block;
        align-items: center;
        justify-content: center;
        .fondoTitulo{
            align-items: center;
            margin-top: 20px;
            margin-left: 50px;
            
        }
        .divCarousel{
            display: none;
        }

        .galeriaMobile{
            display: block;

            .foto{
                margin-bottom: 20px;
            }
        }
    }
    


}