.mainCompraVenta {
  .mainCompraVentaDesktop {
    width: 100%;

    .comoFunciona {
      padding-bottom: 80px;

      .compraVenta {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 17.09145427286357vh;
        margin-bottom: 20.09145427286357vh;

        .compraVentaBoxContainer {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 50px;
        }

        p {
          margin-top: 50px;
          font-size: 40px;
        }

        button {
          margin-left: 25%;
          width: 595px;
          background: #cb97fb;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-radius: 25px;
          height: 56px;
          margin-top: 40px;

        }
      }

      .compraVentaBox {
        height: 25.375em;
        width: 25.063em;
        border-radius: 15px;
        background-color: #fff;
        border: 3px solid #cb97fb;
        box-shadow: 4px 6px 4px 0px #00000040;

        .cardsCompraVenta {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-top: 6.693989071038251vh;

          .detalleCard {
            padding-top: 3.121584699453552vh;
            padding-left: 3.215434083601286vw;
            padding-right: 3.215434083601286vw;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 126%;
            text-align: center;
            color: #1D1D1D;
          }

        }
      }
    }
    .descripcion {
      width: 100%;
      height: 47.131147540983605vh;
      display: flex;
      align-items: center;

      .detalle {
        display: flex;
        align-items: flex-start;
        width: 33.3333333333333%;
        height: 100%;
        padding-top: 10.92896174863388vh;
        padding-left: 4.823151125401929vw;

        .tituloDetalle {
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #1D1D1D;
        }

        .textoDetalle {
          width: 257px;
          height: 100px;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 122%;
          color: #000000;
        }

        img {
          width: 41px;
          margin-right: 1.607717041800643vw;
        }
      }
    }
  }
  .mainCompraVentaMobile {
    display: none;
  }
}
@media (max-width: 765px) {
  .mainCompraVenta{
    .mainCompraVentaDesktop{
      display: none;
    }
    .mainCompraVentaMobile{
      margin-top: 50px ;
      display: block;
      .comoComprarMobile, .comoVenderMobile{
        margin-left: 5.03125vw;
        background: #F5F5F5;
        .titulo{
          font-family: "OldSport", sans-serif;          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
        }
        p{
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 115%;
          color: #1D1D1D;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 71px;
          background: #cb97fb;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-radius: 25px;
          margin-top: 40px;
          height: 48px;
          width: 95%;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          
          .wpIcono{
            width: 28px;
          }

        }
        .descripcion{
          margin-top: 20px;
          display: flex;
          align-items: center;
          height: 100px;
          img{
            margin-right: 5.03125vw;
          }
          p{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 115%;
            color: #1D1D1D;
            width: 70%;
          }

        }
      }
      .descripcion {
        width: 100%;
        // height: 47.131147540983605vh;
        // display: flex;
        // align-items: center;
  
        .detalle {
          background-color: #F7EFFE;
          display: flex;
          align-items: flex-start;
          height: 100%;
          padding-top: 10.92896174863388vh;
          padding-left: 4.823151125401929vw;
  
          .tituloDetalle {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1D1D1D;
            margin-bottom: 10px;
          }
  
          .textoDetalle {
            margin-left: 3.5625vw;
            width: 300px;
            height: 100px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 122%;
            color: #000000;
          }
  
          img {
            width: 41px;
            margin-right: 1.607717041800643vw;
          }
        }
      }
    }
  }
}