.mainColecciones{
    width: 100%;
    .prendasTop{
        width: 95%;
        height: 412px;
        padding: 45px;
        margin-left: 2.6vw;
        margin-top: 50px;
        background-color: aquamarine;

        p{
            font-family: 'Jost', sans-serif;
            font-style: normal;
            font-weight: 700px;
            font-size: 25px;
            line-height: 36px;
            text-align: right ;
            color: #FFFFFF;
            margin-top: 310px;

        }
    }
    .colecciones{
        display: flex;
        margin-top: 4vh;
        margin-bottom : 4vh;
        p{
            font-family: 'Jost', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 36px;
            text-align: right ;
            color: #FFFFFF;
            margin-top: 366px;
            margin-right: 17px
        }
        .coleccion1{
            width: 30vw;
            height: 412px;
            // left: 45px;
            margin-left: 2.6vw;
            top: 550px;
            background-color: aqua;
        }
        .coleccion2{
            width: 30vw;
            height: 412px;
            margin-left: 1.9vw;
            top: 550px;
            background-color: aquamarine;
        }
        .coleccion3{
            width: 30vw;
            height: 412px;
            margin-left: 1.9vw;
            top: 550px;
            background-color: gold;
        }
}
}
