main {
  overflow: hidden;
}
.fondoHome {
  // position: absolute;
  // top: 0;
  // right: 0;
  width: 100vw;
  height: 108.99550224887557vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .imagenFondo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    img {
      width: 100%;
    }
  }
  .imagenFondoMobile {
    display: none;
  }
}
.comoFuncionaMobile {
  display: none;
}
.comoFunciona {
  width: 100vw;
  height: 108.99550224887557vh;
  background-color: #f7effe;
  display: flex;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;

  .comoFuncionaInfo {
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 17.09145427286357vh;
    .comoFuncionaTitulo {
      width: 52.27vw;
      background-color: #fcfd9a;
    }
    .comoFuncionaBoxContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      flex-wrap: nowrap;
    }
    p {
      font-size: 40px;
    }
  }
  .comoFuncionaBox {
    height: 60.869565217391305vh;
    width: 29.355783308931187vw;
    border-radius: 15px;
    background-color: #fff;
    border: 3px solid #cb97fb;
    box-shadow: 4px 6px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Jost";
      font-weight: 400;
      font-size: 22px;
      line-height: 126%;
      font-style: normal;

      text-align: center;

      color: #1d1d1d;
    }
    p,
    img {
      padding: 30px;
    }
    img {
      margin-top: 50px;
    }
  }
}

.modaCircular {
  display: block;
  width: 100vw;
  height: 158.69565217391305vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OldSport", sans-serif;
}
.moodaCircularMovile {
  display: none;
}
.modaCircularContainer {
  display: flex;
  width: 95%;
  height: 75%;
  .modaCircularInfo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .modaCircularTexto {
      height: 70%;
      h3 {
        font-size: 40px;
        color: #1d1d1d;
        background-color: #fcfd9a;
        width: 42.02vw;
      }
      p {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 126%;
        color: #1d1d1d;
        margin-top: 52px;
      }
    }
    .modaCircularIconos {
      height: 30%;
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }
    .modaCircularIconosIconos {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 47px;
      .iconosBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 70px;

        p {
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 126%;
          text-align: center;
          color: #000000;
          font-family: "Jost";
          margin-top: 22px;
        }
      }
    }
    h4 {
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 36px;
    }
  }
}
.modaCircularImagen {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.PrendasUnicas {
  width: 100%;
  height: 108.69565217391305vh;
  background-color: #f7effe;
  font-family: "OldSport", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  .PrendasUnicasContainer {
    width: 95%;
    height: 75%;
    display: flex;

    .PrendasUnicasInfo {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      div {
        width: 80%;
      }

      h2 {
        width: 54.24vw;
        font-weight: 400;
        line-height: 40px;
        font-size: 40px;
        background-color: #fcfd9a;
      }
      p {
        font-family: "jost";
        font-weight: 400;
        font-size: 20px;
        line-height: 126%;
        font-style: normal;
        margin-top: 120px;
      }
      button {
        width: 43.55vw;
        background: #cb97fb;
        border: none;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 25px;
        height: 56px;
        margin-top: 120px;
        font-family: "Jost";
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Jost";
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        font-style: normal;
        color: #1d1d1d;
      }
    }
    .PrendasUnicasImagen {
      width: 50%;
      height: 100%;

      img {
        margin-top: -200px;
      }
    }
  }
}
@media (max-width: 765px) {
  .fondoHome {
    height: 52.96vh;
    .imagenFondo {
      display: none;
    }
    .imagenFondoMobile {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 90%;
      }
    }
  }
  .comoFunciona {
    display: none;
  }
  .comoFuncionaTituloMobile {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      height: 20px;
      font-family: "OldSport";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #1d1d1d;
      margin-top: 41px;
      background-color: #fcfd9a;
    }
  }
  .comoFuncionatextoMobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .comoFuncionaMobile {
    display: block;
    height: 444px;
    .boxMobile {
      display: flex;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin-top: 25px;

      .boxMobileTexto {
        width: 70%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 126%;
        display: flex;
        align-items: center;
        color: #1d1d1d;
        font-family: "Jost";
        padding-left: 20px;
      }
    }
  }
  .modaCircular {
    display: none;
  }
  .moodaCircularMovile {
    display: block;
    height: 789px;
    background-color: #fff;
    padding-top: 43px;

    .circularTitulo {
      width: 278px;
      font-family: "oldsport";
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      color: #1d1d1d;
      background-color: #fcfd9a;
    }
    .primerParafo {
      display: flex;
      padding-top: 23px;
      padding-bottom: 11px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: #1d1d1d;
      font-family: "Jost";
    }
    .segundoParrafo {
      padding-bottom: 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: #1d1d1d;
      font-family: "Jost";
    }
    .tercerParrafo {
      padding-bottom: 40px;
      font-family: "Jost";
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-style: normal;
      color: #1d1d1d;

      .tercerParrafoIconos {
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        img {
          padding: 25px;
        }

        p {
          font-family: "Jost";
          font-style: normal;
          font-weight: 600;
          font-size: 9px;
          line-height: 126%;
          text-align: center;
          color: #000000;
        }
      }
    }
  }
}
