.mainCompraVenta {
  .mainCompraVentaDesktop {
    width: 100%;

    .comoFunciona {
      padding-bottom: 80px;
      height: 100%;

      .compraVenta {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        .compraVentaBoxContainer {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 50px;
        }
        .fondoTitulo{
          width: 370px;
          margin-top: 80px;
          background: #FCFD9A;
          border-radius: 15px;

          h3{            
            width: 347px;
            font-family: 'OldSport';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 40px;
            margin-left: 10.19px;  
          }

        }
        
        p {
          margin-top: 50px;
          font-size: 40px;
        }

        button {
          margin-left: 30%;
          width: 500px;
          height: 56px;
          background: #cb97fb;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 25px;
          border: none;
          margin-top: 40px;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 60px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content:center;

          color: #1D1D1D;


        }
      }

      .compraVentaBox {
        height: 25.375em;
        width: 25.063em;
        border-radius: 15px;
        background-color: #fff;
        border: 3px solid #cb97fb;
        box-shadow: 4px 6px 4px 0px #00000040;

        .cardsCompraVenta {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-top: 6.693989071038251vh;

          .detalleCard {
            padding-top: 3.121584699453552vh;
            padding-left: 3.215434083601286vw;
            padding-right: 3.215434083601286vw;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 126%;
            text-align: center;
            color: #1D1D1D;
          }

        }
      }
    }
    .descripcion {
      width: 100%;
      height: 47.131147540983605vh;
      display: flex;
      align-items: center;

      .detalle {
        display: flex;
        align-items: flex-start;
        width: 33.3333333333333%;
        height: 100%;

        .tituloDetalle {
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #1D1D1D;
        }

        .textoDetalle {
          width: 257px;
          height: 100px;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 122%;
          color: #000000;
        }

        img {
          width: 41px;
          margin-right: 1.607717041800643vw;
        }
      }
    }
  }
  .mainCompraVentaMobile {
    display: none;
  }
}
@media (max-width: 765px) {
  .mainCompraVenta{
    .mainCompraVentaDesktop{
      display: none;
    }
    .mainCompraVentaMobile{
      margin-top: 50px ;
      display: block;
      .comoComprarMobile, .comoVenderMobile{
        margin-left: 5.03125vw;
        background: #F5F5F5;
        .titulo{
          font-family: "OldSport", sans-serif;          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
        }
        p{
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 115%;
          color: #1D1D1D;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 50px;
          background: #cb97fb;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-radius: 25px;
          margin-top: 40px;
          height: 48px;
          width: 95%;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          
          .wpIcono{
            width: 28px;
          }

        }
        .contenido{
          margin-top: 20px;
          display: flex;
          align-items: center;
          height: 100px;
          img{
            margin-right: 5.03125vw;
          }
          p{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 115%;
            color: #1D1D1D;
            width: 70%;
          }

        }
      }
      .descripcion {
        width: 100%;
        background-color: #F7EFFE;
  
        .detalle {
          display: flex;
          align-items: flex-start;
          height: 100%;
          margin-left: 5.03125vw;
          padding-bottom: 50px;
          padding-top: 50px;
          margin-top: 0px;

  
          .tituloDetalle {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1D1D1D;
            margin-bottom: 10px;
          }
  
          .textoDetalle {
            margin-left: 3.5625vw;
            width: 300px;
            height: 100px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 122%;
            color: #000000;
          }
  
          img {
            width: 41px;
            margin-right: 1.607717041800643vw;
            margin-left: 0%;
            padding-left: 0%;
          }
        }
      }
    }
  }
}