.navBar {
  display: flex;
  width: 100%;
  height: 98px;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  .logoNavBar {
    padding-left: 20px;
  }

  .Login {
    padding-right: 20px;
  }
  ul {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      height: 100%;
      & :hover {
        border-top: 3px solid #cb97fb;
      }
      a {
        height: 100%;
        display: flex;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #cb97fb;
          font-weight: 700;
        }
      }
    }
  }
  button {
    background: #cb97fb;
    border-radius: 25px;
    width: 156px;
    height: 45px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.logoWhatsapp {
  width: 28px;
  padding-right: 5px;
}
.navBarMobile,
.menuFlotante,
.buttonMobile {
  display: none;
}

@media (max-width: 765px) {
  .buttonMobile {
    display: block;
    height: 43px;
    width: 100%;
    background: #cb97fb;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jost";
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1d1d1d;
    font-style: normal;
  }
  .navBar {
    display: none;
  }
  .navBarMobile {
    width: 100%;
    background-color: #1d1d1d;
    height: 84px;
    font-size: 32px;
    color: #cb97fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  .menuFlotante {
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    position: absolute;
    margin-top: 84px;
    top: -184vh;
    transition: all 0.5s;

    &.mostrar {
      top: 0;
      background-color: #1d1d1d;
    }
    li {
      padding-top: 20vw;
    }
    a {
      text-decoration: none;
    }
  }
}
