.navBar {
  display: flex;
  width: 100%;
  height: 98px;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  .logoNavBar {
    padding-left: 20px;
  }
  .Login {
    padding-right: 20px;
  }
  ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      margin-right: 100px;
      height: 100%;
      & :hover {
        border-top: 3px solid #cb97fb;
      }
      a {
        height: 100%;
        display: flex;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #cb97fb;
          font-weight: 700;
        }
      }
    }
  }
  button {
    background: #cb97fb;
    border-radius: 25px;
    width: 156px;
    height: 45px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.logoWhatsapp {
  width: 28px;
  padding-right: 5px;
}
