@import "header";
@import "main";
@import "footer";
@import "navBar";
@import "mainCompraVenta";
@import "mainColecciones";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  width: 100%;
  font-family: "roboto", sans-serif;
}
